body {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: lightgray;
}

.main-container {
  width: 180%;
  background: white;
  padding: 10px 20px;
}

.board-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.board-container {
  margin: 10px;
}
